<h1> showing Branches</h1>
<table class="table table-dark">
  <tr>
    <th>ID</th>
    <th>street</th>
    <th>city</th>
    <th>postalcode</th>
    <th>phoneNo</th>
  </tr>
<% Branch.all.each do |cust| %>

<tr>
  <td>  <%= cust.id %></td>
  <td>  <%= cust.street %></td>
  <td>  <%= cust.city %></td>
  <td>  <%= cust.postal_code %></td>
  <td>  <%= cust.phone_no %></td>
</tr>
<% end %>

</table>
