<p id=”alert”><%= alert %></p>
<!DOCTYPE html>
<html>
  <head>
    <title>CarReservation</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


  </head>

  <body class="p-3 mb-2 bg-dark text-white">
    <h1>Login</h1>


      <%= form_tag sessions_path do %>
      <%= label_tag :email %>
      <%= text_field_tag :email %>
      <%= label_tag :password %>
      <%= password_field_tag :password %>
        <%= submit_tag 'login' %>
      <% end %>


  </body>
</html>
