<h1> showing Employee</h1>
<table class="table table-dark">
  <tr>
    <th>ID</th>
    <th>BranchID</th>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>ssn</th>
    <th>dateOfBirth</th>
    <th>sex</th>
    <th>salary</th>
  </tr>
<% Employee.all.each do |cust| %>

<tr>
  <td>  <%= cust.id %></td>
  <td>  <%= cust.branch_id %></td>
  <td>  <%= cust.first_name %></td>
  <td>  <%= cust.last_name %></td>
  <td>  <%= cust.ssn %></td>
  <td>  <%= cust.date_of_birth %></td>
  <td>  <%= cust.sex %></td>
  <td>  <%= cust.salary %></td>
</tr>
<% end %>

</table>
