<h1> Showing all Customers</h1>
<table class="table table-dark">
  <tr>
    <th>ID</th>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>phone Number</th>
    <th>drivers License</th>
    <th>dob</th>
    <th>email</th>
    <th>street</th>
    <th>city</th>
    <th>postalcode</th>
  </tr>
<% Customer.all.each do |cust| %>
<tr>
    <td>  <%= cust.id %></td>
  <td>  <%= cust.first_name %></td>
  <td>  <%= cust.last_name %></td>
  <td>  <%= cust.phone_number %></td>
  <td>  <%= cust.drivers_license %></td>
  <td>  <%= cust.date_of_birth %></td>
  <td>  <%= cust.email %></td>
  <td>  <%= cust.street %></td>
  <td>  <%= cust.city %></td>
  <td>  <%= cust.postal_code %></td>
</tr>
<% end %>

</table>
