<h1> Showing all Customers</h1>
<table class="table table-dark">
  <tr>
      <th>ID</th>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>phoneNumber</th>
    <th>drivers License</th>
    <th>dob</th>
    <th>email</th>
    <th>street</th>
    <th>city</th>
    <th>postalcode</th>
  </tr>
<% Customer.all.each do |cust| %>
<tr>
    <td>  <%= cust.id %></td>
  <td>  <%= cust.firstName %></td>
  <td>  <%= cust.lastName %></td>
  <td>  <%= cust.phoneNumber %></td>
  <td>  <%= cust.driversLicense %></td>
  <td>  <%= cust.dateOfBirth %></td>
  <td>  <%= cust.email %></td>
  <td>  <%= cust.street %></td>
  <td>  <%= cust.city %></td>
  <td>  <%= cust.postalCode %></td>
</tr>
<% end %>

</table>
