<h1> Create new Reservation</h1>

<% if @reservation.errors.any? %>
  <ul>
<% @reservation.errors.full_messages.each do |msg|%>
<div class="alert alert-danger" role="alert">
      <li> <%= msg %> </li>
</div>
<%end%>
</ul>
<%end%>
<div class="row h-100 justify-content-center align-items-center">

<%= form_for @reservation do |f| %>

<p>
  <%= f.label :range %><br/>
  <%= f.number_field :range %>

</p>
<p>
  <%= f.label :total_cost %><br/>
  <%= f.number_field :total_cost %>

</p>
<p>
  <%= f.label :employee_id %><br/>
  <%= f.number_field :employee_id %>

</p>

<p>
  <%= f.label :customer_id %><br/>
  <%= f.number_field :customer_id %>

</p>
<p>
  <%= f.label :branch_id %><br/>
  <%= f.number_field :branch_id %>

</p>
<p>
  <%= f.label :vehicle_id %><br/>
  <%= f.number_field :vehicle_id %>

</p>

<div class="row h-100 justify-content-center align-items-center">
<p>
  <%= f.submit "Add", :class=>"btn btn-primary"%>

</p>

</div>
</div>




<% end %>
