<h1> Add new Color</h1>

<% if @color.errors.any? %>
  <ul>
<% @color.errors.full_messages.each do |msg|%>
<div class="alert alert-danger" role="alert">
      <li> <%= msg %> </li>
</div>
<%end%>
</ul>
<%end%>
<div class="row h-100 justify-content-center align-items-center">

<%= form_for @color do |f| %>



<p>
  <%= f.label :color %><br/>
  <%= f.text_field :color %><br/>

</p>


<div class="row h-100 justify-content-center align-items-center">
<p>
  <%= f.submit "Add", :class=>"btn btn-primary"%>

</p>

</div>
</div>




<% end %>
