<h1> showing Vehicles</h1>
<table class="table table-dark">
  <tr>
      <th>ID</th>
    <th>licensePlate</th>
    <th>brand</th>
    <th>modelNo</th>
    <th>type</th>


    <th>trim</th>
    <th>capacity</th>
    <th>milage</th>

    <th>packagePrice</th>
    <th>branch_id</th>
    <th>color_id</th>
  </tr>
<% Vehicle.all.each do |cust| %>

<tr>
  <td>  <%= cust.id %></td>
  <td>  <%= cust.license_plate %></td>
  <td>  <%= cust.brand %></td>
  <td>  <%= cust.model_no %></td>
  <td>  <%= cust.v_type %></td>

  <td>  <%= cust.trim %></td>
  <td>  <%= cust.capacity %></td>
  <td>  <%= cust.milage %></td>


  <td>  <%= cust.package_price %></td>
  <td>  <%= cust.branch_id %></td>
  <td>  <%= cust.color_id %></td>

</tr>
<% end %>

</table>
